::ng-deep .ng-select.ng-select-single .ng-select-container.ng-value-container .ng-input {
  cursor: pointer;
  background-color: #fff;
  width: 100%;
}
::ng-deep .ng-select.ng-select-single .ng-select-container {
  height: 35px;
  background-color: #fff;
  border: none;
  padding: 0;
}
::ng-deep .ng-select {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 0;
}