<div class="modal-header">
    <h4 class="modal-title">
    Configurer les horaires de travail
    </h4>
    <a class="exit" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <i class="fa-regular fa-circle-xmark"></i>
  </a>
</div>

<form [formGroup]="workingHoursForm" (ngSubmit)="submit()" class="modal-body">
    <!-- Heure de début -->
    <div class="mb-3">
        <label>Heure de début</label>
        <ng-select class="form-control" [items]="hoursList" formControlName="startHour"
            placeholder="Sélectionner l'heure de début" tabindex="-1">
        </ng-select>

    </div>

    <!-- Heure de fin -->
    <div class="mb-3">
        <label>Heure de fin</label>
        <ng-select class="form-control" [items]="hoursList"formControlName="endHour"
            placeholder="Sélectionner l'heure de fin">
        </ng-select>
    </div>

    <div *ngIf="timeError" class="alert alert-danger text-center">
        L'heure de début doit être inférieure à l'heure de fin.
    </div>
</form>

<div class="modal-footer border-top-0 text-center">
    <button class="btn btn-secondary" (click)="modal.dismiss()">Annuler</button>
    <button class="btn btn-primary" (click)="submit()">Enregistrer</button>
</div>