<div class="tab-panel">
  <app-consultation-interrogatoire-antecedents-generaux
    [anomalies]="medicalSectionAnomalies"
    (anomaliesChange)="onMedicalAnomaliesChange($event)"
  ></app-consultation-interrogatoire-antecedents-generaux>



  <app-consultation-interrogatoire-antecedents-familiaux
    [anomalies]="familySectionAnomalies"
    (anomaliesChange)="onFamilyAnomaliesChange($event)"
  ></app-consultation-interrogatoire-antecedents-familiaux>


  <app-consultation-interrogatoire-antecedents-dermatologiques
    [anomalies]="dermatologicSectionAnomalies"
    (anomaliesChange)="onDermatologicAnomaliesChange($event)"
  ></app-consultation-interrogatoire-antecedents-dermatologiques>

  <app-consultation-interrogatoire-traitement-en-cours
    [consultationId]="consultationId"
    [treatments]="ongoingTreatments"
    (treatmentsChange)="onOngoingTreatmentsChange($event)"
  ></app-consultation-interrogatoire-traitement-en-cours>
 

  @if (canAccessExam) {
    <div class="d-flex justify-content-center mt-4 mb-3">
      <button
        type="button"
        class="btn btn-color-green btn-primary btn-gg d-flex align-items-center gap-2"
        (click)="goToExam()"
      >
        <span>{{ 'consultation.page.actions.goToExam' | translate }}</span>
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  }
</div>
